html,body {
	height: 80px;
	width: 1920px;
	background-color: transparent;
	overflow: hidden;
}
.container {
	height: 100%;
	color: white;

	margin: 0 auto;
	text-align: center;
}

#commentators {
	font-size: 5em;
}
