@import 'fonts/fonts.css';

@font-face {
	font-family: pixel;
	src: url('../font/ARCADECLASSIC.TTF');
}

@font-face {
	font-family: roboto;
	src: url('../font/RobotoSlab.ttf');
}

@font-face {
	font-family: monofonto;
	src: url('../font/monofonto.ttf');
}

.hidden {
	display: none;
}

html,
body {
	font-family: pixel, monospace;
}
