html,body {
	height:100%;
	background-color: transparent;
}
.container {
	overflow: hidden;
	height: 100%;
	color: white;
}

#header {
	background-color: #2C5162;
	height: 60px;
	width: 100%;
	position: fixed; left: 0; top: 0;
}

#topLeft {
	position: relative;
	font-size: 3em;
	left: 15px;
	top: 0px;
}

#topRight {
	background-color: #131C1F;
	width: 400px;
	height: 60px;
	position: relative;
	top: -56px;
	float: right;
	font-size: 3em;
	margin: 0 auto;
	text-align: center;
}

#nextGameBand {
	position: absolute;
	font-size: 3em;
	width: 100%;
	top: 150px;
	left: 0px;
	height: 60px;
	background-color: #4C4C4C;
	margin: 0 auto;
	text-align: center;
}

#nextGameLogo {
	position: absolute;
	width: 100%;
	top: 210px;
	left: 0px;
	height: 350px;
	background-color: lightblue;
	margin: 0 auto;
	text-align: center;
}

#nextGame {
	height: 100%;
}

#bestTime {
	position: absolute;
	font-size: 3em;
	width: 100%;
	top: 560px;
	left: 0px;
	height: 60px;
	background-color: #4A6F7F;
	margin: 0 auto;
	text-align: center;
}

.players {
	width: 25%;
	height: 201px;
}

#player-1 {
	left: 0px;
	position: absolute;
	top: 800px;
}

#player-2 {
	left: 480px;
	position: absolute;
	top: 800px;
}

#player-3 {
	left: 960px;
	position: absolute;
	top: 800px;
}

#player-4 {
	left: 1440px;
	position: absolute;
	top: 800px;
}

.player-name {
	height: 67px;
	font-size: 3em;
	border: 1px solid white;
	margin: 0 auto;
	text-align: center;
}

#player-name-1 {
	background-color: #FF0000;
}

#player-name-2 {
	background-color: #18B0C2;
}

#player-name-3 {
	background-color: #09AB19;
}

#player-name-4 {
	background-color: #8B09AB;
}

.player-time {
	height: 67px;
	background-color: #1F505C;
	border: 1px solid white;
	font-size: 3em;
	margin: 0 auto;
	text-align: center;
}

.player-score {
	height: 67px;
	background-color: #182023;
	border: 1px solid white;
	font-size: 3em;
	margin: 0 auto;
	text-align: center;
}
